/* Stile generale */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  margin: 0;
  padding: 0;
}

/* Contenitore principale */
.container {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

/* Titolo */
h1 {
  color: #e25822;
  margin-bottom: 20px;
}

/* Form di login */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-form input {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #e25822;
  border-radius: 8px;
  background-color: #2b2b2b;
  color: white;
  width: 100%;
  max-width: 300px;
}

.login-form button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #e25822;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #ff4500;
}

/* Informazioni dell'utente */
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}

.user-info h2 {
  color: #e25822;
}

.user-info p {
  color: #dddddd;
}

.user-info button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #e25822;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-info button:hover {
  background-color: #ff4500;
}

/* Immagine di profilo */
.profile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: contain;
  border: 3px solid #e25822;
}

/* Stile per la sezione delle statistiche */
#statsContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  border: 2px solid #e25822;
  text-align: center;
}

#statsContainer h2 {
  color: #e25822;
  margin-bottom: 10px;
}

#statsContainer p {
  color: #dddddd;
  font-size: 1.1em;
}

/* Stile per la sezione delle battaglie */
#battlesContainer {
  margin-top: 20px;
  padding: 10px;
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  border: 2px solid #e25822;
  text-align: center;
}

#battlesContainer h2 {
  color: #e25822;
  margin-bottom: 10px;
}

#battlesContainer p {
  color: #dddddd;
  font-size: 1.1em;
}


#battlesList {
  list-style-type: none;
  padding: 0;
}

#battlesList li {
  color: #dddddd;
  font-size: 1em;
  margin: 5px 0;
  padding: 10px;
  background-color: #343434;
  border-radius: 8px;
  transition: background-color 0.3s;
}

#battlesList li:hover {
  background-color: #444444;
}

#battlesList li .battle-date {
  font-weight: bold;
  color: #e25822;
}

#battlesList li .battle-players {
  font-weight: bold;
  color: #ffffff;
}

#battlesList li .battle-score {
  font-weight: bold;
  color: #138f25;
}
